body{
    background-size: 110vw 205vh;
    line-height: 2.5;
    padding-top: 1vh;
}

.head{
    padding-left: 1.5vh;
}

.singlecol{
    max-width: 25vw;
    max-height: 5vh;
    margin: 1 auto;
    padding-bottom: 0vh;
}

.social-media a{
     font-size: 2rem;
     color: #3FE5FF;
     position:relative;
     bottom:0;

}

img {
    /* width: 100vh; */
    position:relative;
    top: 21vh;
    left:21vh;
    height: 24vh;
    width: 13.5vw;
    border-radius: 75%;
    overflow:hidden;

  }

footer {
text-align:end;
padding: 1vh;
background-color: rgba(26, 26, 67, 0.988);
color:#ddd;
font-size: 2vh;
font-family: 'Roboto', sans-serif;;
}

h2{
    padding-top: 1vh;
    padding-bottom: 23vh;
    padding-left: 7vw;
    color: rgb(104, 197, 255);
    font-size: 14vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 8px 2px 5px black;
}

h3{text-align: left; font-size: 5vh; color: rgb(0, 91, 137);}
h4{text-align: center; font-size: 2vh;}
h5{text-align: left;font-size: 100%;}
hr{height:1px;
background-color: black;
}

li{
    font-size: 2vh;
    color: #ddd;
}

.menu.fa {
    font-size: 3vh;
    border: 1vh solid #eee;
    background: #f5f5f5;
    color: #ddd;
    padding: 1vh 0.5vh;
    border-radius: 0.3vh;
    width: 3vh;
    height: 3vh;
    line-height: 3vh;
    margin: 1vh;
    padding-top: 10vh;
}

.contact-info{
 padding-top: 1.5vh;
padding-bottom: 4vh;
}






















